

.bash_history
.bash_secrets
bin/ngrok
.cache/
.cargo/
.config/chromium/
.config/Code/
.config/Code/Cache/
.config/Code/CachedData/
.config/Code/logs/
.config/Code/machineid
.config/dconf/
.config/discord/
.config/enchant/en_GB.dic
.config/evolution/
.config/foot/
.config/gh/
.config/git/
.config/ibus/
.config/JOSM/
.config/libreoffice/
.config/monitors.xml
.config/nautilus/
.config/ngrok/
.config/procps/
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/yelp/
Desktop/
.docker
.dotfiles/
Downloads/
.fly/
github/
.gnupg/
.java/
.lesshst
.local/
.mozilla/
Music/
.netrc
.npm/
Pictures/
.pki/
Public/
.pyenv
.python_history
.redhat/
.rustup/
.ssh/id_rsa*
.ssh/known_hosts*
.sudo_as_admin_successful
*.swp
Templates/
Videos/
.viminfo
.vscode/
